# Logs
logs
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dist 
dist/
dist/*

# temp
temp/
temp/*

# lib
lib/
lib/*

# karma
coverage/
coverage/*

# Xcode
.DS_Store

# docs
docs/_book/
docs/_book/*

# github pages
gh_pages/
gh_pages/*