.page-header {
  padding: 20px 20px 20px 20px;
}

.page-header .title {
  color: #333;
  font-size: 20px;
}

.page-main {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
}

.page-main .panel-right {
  flex: 1
}

.page-main .panel-right .right-wrap {
  padding: 0 0px 0 40px;
  height: 100%;
}

.canvas-wrap {
  border: 1px solid #999;
}

.CodeMirror {
  height: 700px;
}
